@model string

<div class="container">

    <h2>Добавить роль</h2>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="name">Новая роль</label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Отмена</a>
    </div>

</div>