@model IEnumerable<WebApplication1.Models.User>

<div class="container">

<h2>Список пользователей</h2>

<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Email</td>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
        </td>
    </tr>
    }
</table>
<a asp-action="Index">Список ролей</a>
</div>