@model WebApplication1.Models.Firm
@{
    ViewData["Title"] = "Детали фирмы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Детали фирмы</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Название фирмы
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirmName)
            </dd>
            <dt>
                Адрес
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirmAddress)
            </dd>
        </dl>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a asp-action="Edit" asp-route-id="@Model.FirmID">Изменить</a></li>
                <li><a asp-action="Delete" asp-route-id="@Model.FirmID">Удалить</a></li>
            </ul>
            |  <a asp-action="Index">Список фирм</a>
        </div>
    </div>
</div>
