@model WebApplication1.Models.Invoice

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" class="form-control" />
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaitDatePayment" class="control-label"></label>
                <input asp-for="WaitDatePayment" class="form-control" />
                <span asp-validation-for="WaitDatePayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountWait" class="control-label"></label>
                <input asp-for="AmountWait" class="form-control" />
                <span asp-validation-for="AmountWait" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountReal" class="control-label"></label>
                <input asp-for="AmountReal" class="form-control" />
                <span asp-validation-for="AmountReal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePaymentWait" class="control-label"></label>
                <input asp-for="DatePaymentWait" class="form-control" />
                <span asp-validation-for="DatePaymentWait" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePaymentReal" class="control-label"></label>
                <input asp-for="DatePaymentReal" class="form-control" />
                <span asp-validation-for="DatePaymentReal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <select asp-for="ProjectID" class ="form-control" asp-items="ViewBag.ProjectID"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Delete" /> @Html.DisplayNameFor(model => model.Delete)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

