@using Microsoft.AspNetCore.Identity
@model WebApplication1.ViewModels.ChangeRoleViewModel
@{
    ViewData["Title"] = "Домашняя страница";
}
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Логин: @User.Identity.Name</h3>
        <h4>Роли:</h4> 
        @foreach (var Role in Model.UserRoles)
        {
            <h4>@Role</h4> 
        }
        
    }
    else
    {
        <a asp-controller="Account" asp-action="Login"><font size="30">Вход</font></a>
        <br>
        <a asp-controller="Account" asp-action="Register"><font size="30">Регистрация</font></a>
    }
</div>
