@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@model WebApplication1.ViewModels.ChangeRoleViewModel
@{
    ViewData["Title"] = "Домашняя страница";
}
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Логин: @User.Identity.Name</h3>
        <a asp-controller="SotrudnikDetails" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Личная информация</a><br>
        <a asp-controller="Users" asp-action="ChangePassword" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Сменить пароль</a>

    }
    else
    {
        <a asp-controller="Account" asp-action="Login"><font size="30">Вход</font></a>
        <br>
        <a asp-controller="Account" asp-action="Register"><font size="30">Регистрация</font></a>
    }
</div>
