@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    @if (User.Identity.IsAuthenticated)
    {
        @User.Identity.Name
        }
        else
        {
            <a asp-controller="Account" asp-action="Login"><font size="30">Вход</font></a>
            <br>
            <a asp-controller="Account" asp-action="Register"><font size="30">Регистрация</font></a>
        }
</div>
