@model WebApplication1.Models.Project

@{
    ViewData["Title"] = "Удалить проект";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

<h2>Удалить проект</h2>

<h3>Вы уверены, что хотите удалить проект?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Комментарий
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Стоимость
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Отмена</a>
    </form>
</div>

</div>